## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
import ipywidgets as widgets

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Punta Arenas,CL,-53.1500,-70.9167,55.51,50,0,12.66,clear sky
1,1,Kahului,US,20.8947,-156.4700,74.84,90,40,4.61,scattered clouds
2,2,Klaksvik,FO,62.2266,-6.5890,41.92,74,100,28.88,overcast clouds
3,3,Vuktyl,RU,63.8567,57.3094,2.37,90,79,3.47,broken clouds
4,4,Albany,US,42.6001,-73.9662,32.95,84,100,1.99,light snow

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Kahului,US,20.8947,-156.4700,74.84,90,40,4.61,scattered clouds
5,5,Hilo,US,19.7297,-155.0900,75.27,46,90,4.61,light rain
6,6,San Cristobal,VE,7.7669,-72.2250,71.78,44,85,5.64,overcast clouds
9,9,Thaton,MM,16.9206,97.3714,73.24,73,1,2.91,clear sky
12,12,Cape Town,ZA,-33.9258,18.4232,81.12,53,0,4.00,clear sky
...,...,...,...,...,...,...,...,...,...,...
709,709,Andros Town,BS,24.7000,-77.7667,82.36,72,11,7.34,few clouds
716,716,Iracoubo,GF,5.4802,-53.2011,81.57,78,92,3.94,overcast clouds
717,717,Kindu,CD,-2.9500,25.9500,75.63,86,96,3.44,light rain
719,719,Fare,PF,-16.7000,-151.0167,80.33,76,65,16.40,broken clouds
721,721,Sambava,MG,-14.2667,50.1667,77.67,76,6,8.63,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
clean_df.count()

City_ID                277
City                   277
Country                277
Lat                    277
Lng                    277
Max Temp               277
Humidity               277
Cloudiness             277
Wind Speed             277
Current Description    277
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = clean_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Kahului,US,20.8947,-156.4700,74.84,90,40,4.61,scattered clouds
5,5,Hilo,US,19.7297,-155.0900,75.27,46,90,4.61,light rain
6,6,San Cristobal,VE,7.7669,-72.2250,71.78,44,85,5.64,overcast clouds
9,9,Thaton,MM,16.9206,97.3714,73.24,73,1,2.91,clear sky
12,12,Cape Town,ZA,-33.9258,18.4232,81.12,53,0,4.00,clear sky
...,...,...,...,...,...,...,...,...,...,...
709,709,Andros Town,BS,24.7000,-77.7667,82.36,72,11,7.34,few clouds
716,716,Iracoubo,GF,5.4802,-53.2011,81.57,78,92,3.94,overcast clouds
717,717,Kindu,CD,-2.9500,25.9500,75.63,86,96,3.44,light rain
719,719,Fare,PF,-16.7000,-151.0167,80.33,76,65,16.40,broken clouds
721,721,Sambava,MG,-14.2667,50.1667,77.67,76,6,8.63,clear sky

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
clean_hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
clean_hotel_df["Hotel Name"] = ""
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Kahului,US,74.84,scattered clouds,20.8947,-156.4700,
5,Hilo,US,75.27,light rain,19.7297,-155.0900,
6,San Cristobal,VE,71.78,overcast clouds,7.7669,-72.2250,
9,Thaton,MM,73.24,clear sky,16.9206,97.3714,
12,Cape Town,ZA,81.12,clear sky,-33.9258,18.4232,
14,Itarema,BR,89.69,few clouds,-2.9248,-39.9167,
17,Atuona,PF,77.58,light rain,-9.8000,-139.0333,
21,Tessalit,ML,84.78,scattered clouds,20.1986,1.0114,
22,Cabo San Lucas,MX,76.51,overcast clouds,22.8909,-109.9124,
24,Vaini,TO,75.36,broken clouds,-21.2000,-175.2000,

In [ ]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in clean_hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f"{lat},{lng}"
 
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        clean_hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        clean_hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

In [9]:
my_list = [0,1,2]
try:
    print(my_list[2])
except (IndexError):
    print("this is an index error")
else:
    print("there is no error")

2
there is no error

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = clean_hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Kahului,US,74.84,scattered clouds,20.8947,-156.4700,Maui Seaside Hotel
5,Hilo,US,75.27,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
6,San Cristobal,VE,71.78,overcast clouds,7.7669,-72.2250,Posada Villaven C.A.
9,Thaton,MM,73.24,clear sky,16.9206,97.3714,တိုင်းရင်းဆေး ခရိုင်ဦးစီးဌာနမှူးရုံး
12,Cape Town,ZA,81.12,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
...,...,...,...,...,...,...,...
709,Andros Town,BS,82.36,few clouds,24.7000,-77.7667,Hanks place
716,Iracoubo,GF,81.57,overcast clouds,5.4802,-53.2011,Le Gîte d’Iracoubo
717,Kindu,CD,75.63,light rain,-2.9500,25.9500,Résidence Okanda
719,Fare,PF,80.33,broken clouds,-16.7000,-151.0167,Maitai Lapita Village Huahine
721,Sambava,MG,77.67,clear sky,-14.2667,50.1667,Melrose

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))